.WeatherForecast {
  margin-top: 20px;
  text-align: center;
}

.WeatherForecast-day {
  font-size: 14px;
  font-weight: 500;
  color: var(--main-color);
}
.WeatherForecast-temp-max {
  font-size: 14px;
  font-weight: 600;
  color: var(--main-color);
}
.WeatherForecast-temp-min {
  font-size: 14px;
  font-weight: 400;
  margin-left: 5px;
 color: var(--main-color);
}
